.container {
    width: 1200px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}


/* header */

.header {
    width: 1440px;
    height: 93px;
    flex-shrink: 0;
    background: #012D63;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 33px;
}

.header__image {
    width: 100px;
    height: 60px;
    flex-shrink: 0;
    background: url(../img/header/logo.png), lightgray 50% / cover no-repeat;


}

.header__nav {}

.header__list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__item {}

.header__nav__link {
    width: 112px;
    height: 30px;
    flex-shrink: 0;
    color: #FFF;

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* hero */

.hero__section {
    background: url(../img/hero__section/Group1.png), lightgray 50% / cover no-repeat;
    width: 1440px;
    height: 858px;
    flex-shrink: 0;


}

.hero__section__img {
    width: 160px;
    height: 120px;
    flex-shrink: 0;
    background: url(../img/hero__section/Group1.png), lightgray 50% / cover no-repeat;


}

.hero__section__h1 {
    color: #FFF;

    font-family: "Playfair Display";
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero__section__subtitle {
    color: #FFF;

    font-family: "Playfair Display";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero__section__text {
    color: #FFF;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero__section__logo {
    width: 178px;
    height: 86px;
    flex-shrink: 0;
    color: #FFF;

    font-family: "PT Serif";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero__section__button {

    color: #FFF;

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 254px;
    height: 67px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #8E32C6;
}

/* custom__nikes */



.custom__nikes {
    background: url(../img/custom__nikes/Group81.png), lightgray 0px -384px / 100% 227.888% no-repeat;
    width: 1440px;
    height: 606px;
    flex-shrink: 0;
}

.custom__nikes__list {
display: flex;
border: 5px solid #8E32C6;
padding: 50px;
background-repeat: no-repeat;
  
}

.custom__nikes__item {
    display: flex;
    border-right: 1px solid #FFF;
  
}

.custom__nikes__title {
    width: 159px;
    height: 102px;
    flex-shrink: 0;
    color: #FFF;

    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.custom__nikes__img {
    width: 160px;
    height: 120px;
    flex-shrink: 0;
    background: url(../img/custom__nikes/stars.svg) url(../img/custom__nikes/paints.svg) url(../img/custom__nikes/Georgian.png), lightgray 50% / cover no-repeat;
    width: 240px;
    height: 240px;
    flex-shrink: 0;



}

.reviews {
    width: 1440px;
    height: 520px;
    flex-shrink: 0;
    background: url(../img/Reviews__section/flowers21.png), lightgray 0px -9px / 100% 255.769% no-repeat;
}

.reviews__section__title {
    width: 175px;
height: 65px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: "Playfair Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.reviews__section__list {
    display: flex;

}

.reviews__section__item {
    width: 255px;
height: 292px;
flex-shrink: 0;
border-radius: 15px;
background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);

box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}



.reviews__section__img::before {
    content: "";
    display: block;
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
  
}

.reviews__section__img:nth-child(1)::before {
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    background-position: center;
margin-right: 93px;

}

.reviews__section__img:nth-child(2)::before {
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
    background-position: center;
    margin-right: 93px;
}

.reviews__section__img:nth-child(3)::before {
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
    background-position: center;
}

.reviews__section__title {
    color: #FFF;

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Order__section */

.order__section {
    background-image: url(../img/Order__section/Group21.png);
}
.order__section__title {
    color: #FFF;
font-family: "Playfair Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.order__section__list {
}
.order__section__item {
}
.order__section__button {
}